<a href="https://colab.research.google.com/github/Ch0k/ML-DZ3/blob/main/DZ3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

data = pd.read_csv('athletes.csv')
data.head()

          id            name nationality  ... gold silver  bronze
0  736041664  A Jesus Garcia         ESP  ...    0      0       0
1  532037425      A Lam Shin         KOR  ...    0      0       0
2  435962603     Aaron Brown         CAN  ...    0      0       1
3  521041435      Aaron Cook         MDA  ...    0      0       0
4   33922579      Aaron Gate         NZL  ...    0      0       0

[5 rows x 11 columns]